@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}


.carousel-inner img {
    margin: auto;
  }

.bread
{
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.bread:hover
{
    color: skyblue;
}

.main
{
    background: url();
}

.btn:hover{
    animation: reverse;
}

.service{
    text-decoration: none;
    color: #212529;
}

.service:hover{
    color: #212529;
}

.terms{
    text-decoration: none;
    color: #212529;
}

.terms:hover{
    text-decoration: underline;
    color: #212529;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500%;
}

.collapsible input{
    display: none;
}

.collapsible label{
    position: relative;
    font-weight: 600%;
    background: white;
    box-shadow: 0 5px 11px rgba(0,0,0,.1) 0 4px 11px 0 rgba(0,0,0,.08);
    color: black;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
    z-index: 1;
    font-size: larger;
}

.collapsible label::after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url(arrow.png) no-repeat 0 0;
    transition: all 0.3s ease;
}

.collapsible input:checked + label::after{
    transform: rotate(90deg);
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    background: white;
    box-shadow: 0 5px 11px rgba(0,0,0,.1) 0 4px 11px 0 rgba(0,0,0,.08);
}

.collapsible-text h2{
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: lightslategray;
    opacity: 1;
    top: 0;
}

.collapsible-text p{
    padding-left: 5px;
    padding-right: 5px;
}


.pricecard:hover .prices{
    transition: all 0.2s ease-in;
    color: #212529;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
}

.pricecard:not(:hover) .prices{
    transition: all 0.2s ease-out;
}

.contact-body:hover .contact-img{
    font-size: xxx-large;
    transition: all 0.2s ease-in;
    
}

.contact-img:not(:hover){
    transition: all 0.2s ease-out;
}

.contact-faq{
    color: #212529;
    text-decoration: none;
}

.contact-faq:hover{
    transition: all 0.2s ease-in;
    color: #212529;
    text-decoration: underline;
}

.contact-faq:not(:hover){
    transition: all 0.2s ease-out;    
}

.contact-social{
    font-size: xx-large;
}

.contact-social:hover{
    transition: all 0.2s ease-in;
    font-size: xxx-large;
}

.contact-social:not(:hover){
    transition: all 0.2s ease-out;
}