@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}


.carousel-inner img {
    margin: auto;
  }

.bread
{
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.bread:hover
{
    color: skyblue;
}

.main
{
    background: url();
}

.btn:hover{
    animation: reverse;
}

.service{
    text-decoration: none;
    color: #212529;
}

.service:hover{
    color: #212529;
}