@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}


.carousel-inner img {
    margin: auto;
  }

.bread
{
    text-decoration: none;
    color: white;
}

.bread:hover
{
    color: skyblue;
}

.main
{
    background: url(background1.png);
}